<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>訂單成功</title>
    <%- include('link') %>
  </head>
  <body>
    <%- include('../header')%>
    <!-- 成功後顯示 -->
    <div class="col-12 pt-5 container">
        <div class="d-flex align-items-center mb-5">
            <div class="p-4 col-3 subTitle">下單成功</div>
            <img
              class="p-4 col-9 d-flex justify-content-center img1000"
              src="../public/img/icon/Group 331.png"
              alt=""
            />
          </div>
          <div class="borderclass col-12 mt-5 mb-5">
            <div class="text-center p-5">成功預約，訂單編號<span class="編號class text-danger">9487985</span><br>!!等待賣家確認</div>
          </div>
          <div class="col-12 d-flex justify-content-end">
            <div class="col-8 d-flex justify-content-end"><a href=""><button class="m-5 ps-5 pe-5">回到租賃列表</button></a><a href=""><button class="ms-5 mt-5 ps-5 pe-5">訂單查詢</button></a></div>
          </div>
    </div>
  </body>
</html>
